{% if product.available == false %}
  <button
    class="button button--xl"
    id="BIS_trigger"
    type="button"
    style="width: 100%; margin-bottom: 20px; margin-top: 0;"
  >
    {{ button_text }}
  </button>
{% endif %}
